.iti__country-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 385px;
  }
  .iti__selected-dial-code {
          display: none;
      }
  .iti {
      width: 100% !important; /* Forcer la largeur à 100 % */
      max-width: 100%; /* Empêche la restriction de largeur */
  }
  
  .iti__flag-container {
      background-color: #f8f9fa; /* Optionnel */
  }
  .iti {
      width: 100% !important; /* Forcer la largeur à 100 % */
      max-width: 100%; /* Empêche la restriction de largeur */
  }
  
  .iti__flag-container {
      background-color: #f8f9fa; /* Optionnel */
  }